body{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
    position: relative;
}
.logo{
position: absolute;
top: 5px;
left: 5px;
width: 50px;
padding-top: 40px;
}
